@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: 'Montserrat', 'Gill Sans', sans-serif;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

.main-content,
.secondary-content {
  box-sizing: border-box;
  height: 100%;
  background-color: #fef7ff;
  background-image: url('../assets/wave_primary_up.svg');
  background-repeat: no-repeat;
  background-position-y: bottom;
  padding-top: 50px;
}

.secondary-content {
  background-color: #d147ff;
  background-image: url('../assets/wave_secondary_up.svg');
  display: flex;
  justify-content: space-evenly;
}

nav {
  width: 70%;
  display: flex;
  font-size: 22px;
  color: #d147ff;
  justify-content: space-between;
  margin: 0 auto;
  padding: 25px;
  align-items: center;
  box-shadow: 0px 0px 50px 1px rgba(209, 71, 255, 0.45);
  border-radius: 20px;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  padding: 25px;
  transition: all 0.5s ease;
  cursor: pointer;
}

nav ul li:hover {
  color: #e992ff;
}

nav i {
  padding: 5px;
  padding-right: 25px;
  transition: all 0.5s ease;
  cursor: pointer;
}

nav i:hover {
  color: #e992ff;
}

.content-body {
  display: flex;
  width: 70%;
  margin: 0 auto;
  padding: 25px;
  justify-content: space-between;
  margin-top: 65px;
}

.content-body h1 {
  font-size: 64px;
  color: #d147ff;
  font-weight: lighter;
}

.content-body aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#button {
  cursor: pointer;
  background-color: #d147ff;
  color: #fef7ff;
  font-size: 22px;
  padding: 15px;
  margin-top: 40px;
  width: 140px;
  text-align: center;
  border-radius: 30px;
  box-shadow: 0px 0px 50px 1px rgba(209, 71, 255, 0.45);
  transition: all 0.5s ease;
}

#button:hover {
  box-shadow: 5px 5px 50px 5px rgba(205, 53, 255, 0.45);
  background-color: #f0b6ff;
  color: #d147ff;
}

.content-body img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 45px;
}

.card-container {
  display: flex;
  width: 70%;
  height: 350px;
  justify-content: space-between;
  padding-top: 25px;
}

.card {
  width: 300px;
  box-sizing: border-box;
  padding: 35px;
  height: 350px;
  border-radius: 30px;
  font-size: 18px;
  transition: all 0.5s ease;
  box-shadow: 5px 5px 25px 3px rgba(254, 247, 255, 0.3);
}

.card:hover {
  box-shadow: -5px 5px 25px 3px rgba(255, 255, 255, 0.3);
  transform: scale(1.1) skewX(2deg);
}

.card h1 {
  padding: 15px 0;
}

.card:nth-child(1) {
  background-color: #ffd7ff;
  color: #180036;
}

.card:nth-child(2) {
  background-color: #b627e5;
  color: #fef7ff;
}

.card:nth-child(3) {
  background-color: #6d009e;
  color: #fef7ff;
}

footer {
  height: 350px;
  background-color: #fef7ff;
  justify-content: center;
}

#footer-links-container {
  width: 70%;
  display: flex;
  justify-content: center;
  color: #d147ff;
  margin: 0 auto;
}

footer ul {
  list-style: none;
  padding: 25px 0;
}

footer ul li {
  padding: 5px 0;
  transition: all 0.5s ease;
  cursor: pointer;
  align-items: center;
  text-align: center;
  font-size: 20px;
}

footer ul li:hover {
  color: #e682ff;
}

footer h1 {
  font-size: 28px;
  font-weight: lighter;
  color: #d147ff;
}

#footer-icons {
  width: 70%;
  display: flex;
  color: #d147ff;
  justify-content: center;
  margin: 0 auto;
  margin-top: 15px;
}

#footer-icons i {
  color: #d147ff;
  font-size: 40px;
  padding: 10px 0;
  padding-right: 25px;
  transition: all 0.5s ease;
  cursor: pointer;
}

#footer-icons i:hover {
  color: #e682ff;
}
